
@{
    ViewBag.Title = "Index";
}
<br />
<div class= "text-center">

    <p> We're going to have a party! </p>

    <img src="~/Content/party.gif" />

    <br />
    <p> ... And you are invited ...  </p>

    <div class="btn btn-success"">

        @Html.ActionLink("RSVP Now!", "RsvpForm")

    </div>

</div>

